<div class="sidebar">
  <div class="navegacion">
    <h2>NAVEGACION</h2>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/inicio">
          <i class="fas fa-home"></i>
          Inicio
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/clientes">
          <i class="fas fa-users"></i>
          Clientes
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/proyectos">
          <i class="fas fa-project-diagram"></i>
          Proyectos
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a routerLink="/cubicaciones">
          <i class="fas fa-cube"></i>
          Cubicaciones
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/reportes">
          <i class="fas fa-chart-line"></i>
          Reportes
        </a>
      </li>
    </ul>
  </div>

  <div class="navegacion">
    <h2>HERRAMIENTAS</h2>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/usuarios">
          <i class="fas fa-user-cog"></i>
          Usuarios
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/configuracion">
          <i class="fas fa-cogs"></i>
          Configuración
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ayuda">
          <i class="fas fa-question-circle"></i>
          Ayuda
        </a>
      </li>
    </ul>
  </div>
</div>